# MyST build outputs
_build

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
.venv/
venv/
env/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Logs / Temp
# =====================
*.log
*.tmp

